 /* Basic styling for the avbar */
 #achtergrond {
    margin: 0;
    font-family: Arial, sans-serif;
    background: url('../fotos/achtergrond1.jpg') no-repeat center top;
    background-size:cover;
    background-attachment: scroll;
     height: 100vh;
   padding-bottom: 21em;
     background-repeat: no-repeat; /* No tiling */
}
.navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #333;
    padding: 10px;
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 14px 20px;
    display: flex;
    align-items: center;
}
.navbar a:hover {
    background-color: #575757;
}
.navbar img {
    height: 20px;
    margin-right: 8px;
}

#titel {
    color:aliceblue;
    text-align: center;
    font-size: 5em;
    margin-block-start: 0em;
    margin-block-end: 0em;
   padding-top: 5em;
    font-family: Playwrite New Zealand;

    
}

.cat{
    color:aliceblue;
    text-align: center;
    font-size: 1.5em;
    font-family: Playwrite New Zealand;
}

.cattext {
    color:aliceblue;
    font-size: 1.5em;
    font-family: Playwrite New Zealand;
    text-decoration: none;
    margin-left: 1em;
}

.navbartext {
    color:aliceblue;
    font-size: 1.5em;
    font-family: Playwrite New Zealand;
    text-decoration: none;
}
#eerste {
    margin-left: 26em;
}

#laatste {
   margin-block-end: 10em;
}
#test {
    margin-top: 50em;
}

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    
}

#fotos{
    
}
